/* div{
  border-style: solid;
  border-color: black;
  border-width: 1px;
} */
#correct{
  background-color:#c9d5d8;
  padding:10px;
}
#correct:active{
  background-color:#28a354;
}
#correct:hover{
  box-shadow: 4px 4px 6px #7b8187 ;
}
#wrong{
  background-color:#c9d5d8;
  padding:10px;
}
#wrong:active{
  background-color:#ed3838;
}
#wrong:hover{
  box-shadow: 4px 4px 6px #7b8187 ;
}
#titleRow{
  background: linear-gradient(-40deg , #2176AE , #57b8ff);
  margin-top:30px;
  margin-bottom:30px;
}
/* .header-image{
  background: linear-gradient(-20deg , #46ffc8, #3eff8b);

} */
.header-image{
  background: linear-gradient(160deg , #57b8ff, #3eff8b);

}
