/* div{
  border-style: solid;
  border-color: black;
  border-width: 1px;
} */
body{
  background-color:#2B2B2B;
  color:#FCF7F1;
  font-family:Chivo;
  font-weight:light;
  font-style: italic;
}
#title{
  font-weight:bold;
  font-style: italic;
  font-size:5vw;
}
.btn-outline-light{
  border:2px solid #FCF7F1;
  color:#FCF7F1;
}
.btn-outline-light:hover{
  color:#546FEB;
}
.btn:active{
  color:#546FEB;
}
.quiz{
  background-color:#546FEB;
}
.quiz-bubble{
  border:5px solid #FCF7F1;
  color:#FCF7F1;
  background:#546FEB;
  transition: all 0.15s ease-out 20ms;
}
.quiz-bubble:hover{
  border:5px solid #FCF7F1;
  color:#546FEB;
  background:#FCF7F1;
}
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#546FEB transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  transition:all 0.15s ease-out 20ms;
}
.triangle-border:hover.triangle-border:after{
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#FCF7F1 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.section-title{
  font-size:40px;
}
.navbar{
  color:#2B2B2B;
}
.yr-logo{

}
.category{
  text-decoration:none;
  color:#FCF7F1;
}
.category:hover{
  color:#FCF7F1;
}
#do{
  background-color:#06D6A0;
}
#dont{
  background-color:#54C6EB;
}
.side-colors{
  overflow:hidden;
  height:100vh;
}
#greenleft{
height:40vh;
background-color:#06D6A0;
transform:skewY(-25deg);
z-index:-1;
margin-top:-50px;
}
#blueleft{
height:35vh;
background-color:#54C6EB;
transform:skewY(-25deg);
z-index:-1;
}
#indigoleft{
height:35vh;
background-color:#546FEB;
transform:skewY(-25deg);
z-index:-1;
}

#greenright{
height:40vh;
background-color:#06D6A0;
transform:skewY(25deg);
z-index:-1;
margin-top:-50px;
}
#blueright{
height:35vh;
background-color:#54C6EB;
transform:skewY(25deg);
z-index:-1;
}
#indigoright{
height:35vh;
background-color:#546FEB;
transform:skewY(25deg);
z-index:-1;
}

#contact{
  background-color:#06D6A0;
  height:15vh;
}
#record{
  background-color:#54C6EB;
  height:15vh;
}
#overview{
  background-color:#546FEB;
  height:15vh;
}
#navbar{
  background-color:#FCF7F1;
}
